<div class="container-fluid">
	<nav class="navbar navbar-dark bg-dark" >
		<a class="navbar-brand title" href="#" >Painel de dados</a>
	</nav>
</div>
<div class="container">
	<form>

		<div class="form-group">
			<label>Título</label>
			<input type="text" name="title" [(ngModel)]="title" class="form-control">
		</div>

		<div class="form-group">
				<label>Descrição</label>
				<input type="text" name="description" [(ngModel)]="description" class="form-control">
			</div>
	
		<div class="form-group">
			<label>Responsável</label>
			<select class="form-control" name="resolver" *ngIf="resolvers.length > 0" [(ngModel)]="resolver">
				<option *ngFor="let resolver of resolvers" [ngValue]="resolver.name">{{resolver.name}}</option>
			</select>
		</div>

		<div class="form-group">
			<label>data de resolução</label>
			<select class="form-control" name="date" *ngIf="dates.length > 0" [(ngModel)]="date">
				<option *ngFor="let date of dates" [ngValue]="date.value">{{date.display}}</option>
			</select>
		</div>
		<button class="btn btn-success" (click)="saveIncident()">Salvar</button>
	</form>

		<div class="row">
			<div class="col">
					<table class="table">
							<thead>
								<tr>
									<th scope="col">título</th>
									<th scope="col">Data</th>
									<th scope="col">Técnicos</th>
									<th scope="col">Decrição</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let incident of incidents">
										<td>{{incident.title}}</td>
										<td>{{incident.date | date:'fullDate'}}</td>
										<td>{{incident.resolver}}</td>
										<td>{{incident.description}}</td>
										<td>
											<button class="btn btn-danger" (click)=removeIncident(incident._id)>Excluir</button>
									</td>
								</tr>
							</tbody>
						</table>
			</div>
		</div>
	</div>